#person{
    position: relative;
}
#person .picWords{
    top:0;
    left:0;
    background-size: cover;
}
#person .container{
    padding:50px 0;
}
#person .words-box{
    padding:150px 0;
    color: #fff;

}
#person .img-box{
    padding-left: 30px;
}
#person a i{
    position: absolute;
    top:50%;
}
.normal{
    font-size:50px;
    animation-delay:1s;
}
.slow{
    font-family: 黑体;
    animation-delay:1.5s;

}
.slower{
    animation-delay: 2.5s;
}