<link rel="stylesheet" href="css/person.css">
<div id="person">
    <div id="carouselPanel" class="carousel slide">
       <!--轮播图下的圆点-->
        <ol class="carousel-indicators">
            <li class="active" data-target="#carouselPanel" data-slide-to="0"></li>
            <li data-target="#carouselPanel" data-slide-to="1"></li>
            <li data-target="#carouselPanel" data-slide-to="2"></li>
        </ol>
        <!--轮播内容-->
        <div class="carousel-inner">
            <div class="item active">
                <div class="picWords" style="background-image: url('imgs/person/3.jpg')">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6 col-lg-6  ">
                                <div class="words-box">
                                    <h1 class="animated fadeInUp normal">My Name is...</h1>
                                    <h3 class="animated fadeInUp  slow">我叫李增浩，是广东技术师范学院的大四学生，专业是国际会计学，但是出于对互联网的热爱，志愿于互联网+的建设，本人充分利用课余时间认真学习编程基础和前后端技术等互联网知识，勤勤恳恳，自强不息。</h3>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-6  animated fadeInUp slower" >
                                <div class="img-box">
                                    <img src="imgs/person/03.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="picWords" style="background-image: url('imgs/person/2.jpg')">
                    <div class="container">
                        <div class="row ">
                            <div class="col-sm-6 col-lg-6">
                                <div class="words-box">
                                    <h1 class="animated fadeInUp normal">Skill & Konwledge</h1>
                                    <h3 class="animated fadeInUp  slow" style="font-family: "Helvetica Neue", Helvetica, Arial, sans-serif">
                                    DIV+CSS、CSS3、BootStrap、JavaScript、Jquery、Ajax、Angular.js、Joomla！、PHP、gulp、微信小程序等
                                    </h3>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-6 animated fadeInUp slower">
                                <div class="img-box">
                                    <img src="imgs/person/01.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="picWords" style="background-image: url('imgs/person/1.jpg')">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6 col-lg-6 ">
                                <div class="words-box">
                                    <h1 class="animated fadeInUp normal">关于我 </h1>
                                    <h3 class="animated fadeInUp  slow">我很有耐心，信心和活力，并养成了独立思考和自主学习的习惯。在遇到困难瓶颈时，我总会先分析问题的所在，再寻求解决方式。我崇尚团队合作，深知众志成城的道理，并乐意在团队中相互沟通、相互协作。我希望能找到一个发展平台，充分发挥自己的才能优势，为企业与社会奉献青春、创造价值。</h3>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-6 animated fadeInUp slower">
                                <div class="img-box">
                                    <img src="imgs/person/02.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </div>
    <a href="#carouselPanel" class="carousel-control left" data-slide="prev" role="button"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
    <a href="#carouselPanel" class="carousel-control right" data-slide="next" role="button"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
</div>
