<link rel="stylesheet" href="css/project.css">
<div id="project">
    <div class="container">
        <div class="Title">
            <h2>My Projects</h2>
            <p>本站作者在学习前端的过程中，时而对所学的知识做阶段性总结，并结合掌握的技术制作一些有趣的小项目。在此我挑了多个项目上传到本站，以此见证这段辛苦而有趣的校园时光。</p>
        </div>
        <div class="ProjectWall row">
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div>
                    <img src="imgs/project/1.bmp" class="img-responsive">
                    <div class="hidden-panel">
                        <div class="content">
                            <h3>
                                <a target="_blank" href="view/pastWeb/project/01/index1.html">仿QQ会员主页</a>
                            </h3>
                            <p>
                                CSS3动画效果、PHP与MySQL实现数据读写、PHP实现随机验证码、纯JS实现视频播放器等等...
                            </p>
                            <a target="_blank"  href="view/pastWeb/project/01/index1.html">
                                <i class="fa fa-eye"></i>
                                view
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div>
                    <img src="imgs/project/3.jpg" class="img-responsive">
                    <div class="hidden-panel">
                        <div class="content">
                            <h3>
                                <a target="_blank" href="view/pastWeb/project/06/index.html">马可波罗的神秘商店</a>
                            </h3>
                            <p>
                                使用Angular技术实现基本的网上商城功能，包括搜索、正反向排序、库存提醒等功能，注入了筛选器服务，定义了路由模块等...
                            </p>
                            <a target="_blank"  href="view/pastWeb/project/06/index.html">
                                <i class="fa fa-eye"></i>
                                view
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div>
                    <img src="imgs/project/2.png" class="img-responsive">
                    <div class="hidden-panel">
                        <div class="content">
                            <h3>
                                <a target="_blank" href="view/pastWeb/index.html">老版个人主页</a>
                            </h3>
                            <p>
                                自主设计的一款简单而又花俏的个人主页，设计技术包括CSS3/animate、Canvas实现背景流星雨、BootStrap页面布局、组件与JS插件、JS实现网页各项小功能...
                            </p>
                            <a target="_blank"  href="view/pastWeb/index.html">
                                <i class="fa fa-eye"></i>
                                view
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div>
                    <img src="imgs/project/6.jpg" class="img-responsive">
                    <div class="hidden-panel">
                        <div class="content">
                            <h3>
                                <a target="_blank" href="view/pastWeb/project/04/index.html">植物大战僵尸教程关简易版</a>
                            </h3>
                            <p>
                                纯JavaScript实现的植物大战僵尸网页简易版，游戏流程包括收集阳光、种植植物等...
                            </p>
                            <a target="_blank"  href="view/pastWeb/project/04/index.html">
                                <i class="fa fa-eye"></i>
                                view
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div>
                    <img src="imgs/project/5.jpg" class="img-responsive">
                    <div class="hidden-panel">
                        <div class="content">
                            <h3>
                                <a target="_blank" href="view/pastWeb/project/02/index.html">仿老版新浪云首页</a>
                            </h3>
                            <p>
                                使用Jquery + BootStrap仿写老版的新浪云首页，页面简洁大方而不失美观。
                            </p>
                            <a target="_blank"  href="view/pastWeb/project/02/index.html">
                                <i class="fa fa-eye"></i>
                                view
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div>
                    <img src="imgs/project/4.jpg" class="img-responsive">
                    <div class="hidden-panel">
                        <div class="content">
                            <h3>
                                <a target="_blank" href="view/pastWeb/project/03/index.html">阴阳师2048</a>
                            </h3>
                            <p>
                                自制阴阳师2048，利用当下流行的《阴阳师》中的式神合成，代替枯燥的数字运算，利用JS + Jquery实现自建坐标系、坐标系运动、随机式神产生等，回调函数实现键盘控制等...
                            </p>
                            <a target="_blank"  href="view/pastWeb/project/03/index.html">
                                <i class="fa fa-eye"></i>
                                view
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div>
                    <img src="imgs/project/7.jpg" class="img-responsive">
                    <div class="hidden-panel">
                        <div class="content">
                            <h3>
                                <a target="_blank" href="view/pastWeb/project/07/index.html">模拟微信菜单功能</a>
                            </h3>
                            <p>
                                利用Angular+flex弹性盒模型模拟微信后台的菜单管理功能，包括增删改三个功能，任何的修改都能在左边的视图中实时实现，体现了MVVM框架的无限魅力。
                            </p>
                            <a target="_blank"  href="view/pastWeb/project/07/index.html">
                                <i class="fa fa-eye"></i>
                                view
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div>
                    <img src="imgs/project/8.jpg" class="img-responsive">
                    <div class="hidden-panel">
                        <div class="content">
                            <h3>
                                <a target="_blank" href="view/pastWeb/project/05/index.html">仿1号店首页</a>
                            </h3>
                            <p>
                                DIV+CSS的经典布局下的1号店首页，是本站作者完成的第一个前端作品。
                            </p>
                            <a target="_blank"  href="view/pastWeb/project/05/index.html">
                                <i class="fa fa-eye"></i>
                                view
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div>
                    <img src="imgs/project/9.gif" class="img-responsive">
                    <div class="hidden-panel">  
                        <div class="content">
                            <h3>
                                <a target="_blank" href="view/pastWeb/project/08/index.html">Canvas小制作</a>
                            </h3>
                            <p>
                                利用canvas的API完成的一些有趣动画
                            </p>
                            <a target="_blank"  href="view/pastWeb/project/08/index.html">
                                <i class="fa fa-eye"></i>
                                view
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div>
                    <img src="imgs/project/10.png" class="img-responsive">
                    <div class="hidden-panel">  
                        <div class="content">
                            <h3>
                                <a target="_blank" href="http://120.79.198.253:8032">我的博客</a>
                            </h3>
                            <p>
                                vue + Node实现的动态个人博客
                            </p>
                            <a target="_blank"  href="http://120.79.198.253:8032">
                                <i class="fa fa-eye"></i>
                                view
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div>
                    <img src="imgs/project/11.png" class="img-responsive">
                    <div class="hidden-panel">  
                        <div class="content">
                            <h3>
                                <a target="_blank" href="http://120.79.198.253:8033">仿饿了么手机订单平台</a>
                            </h3>
                            <p>
                                vue实现仿饿了么手机端订外卖轻应用
                            </p>
                            <a target="_blank"  href="http://120.79.198.253:8033">
                                <i class="fa fa-eye"></i>
                                view
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div>
                    <img src="imgs/project/12.png" class="img-responsive">
                    <div class="hidden-panel">  
                        <div class="content">
                            <h3>
                                <a target="_blank" href="http://120.79.198.253:8034">简单的动态博客模型</a>
                            </h3>
                            <p>
                                一个简单的博客原型(Node + swig),也是目前我的个人博客的原型基础
                            </p>
                            <a target="_blank"  href="http://120.79.198.253:8034">
                                <i class="fa fa-eye"></i>
                                view
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div>
                    <img src="imgs/project/13.png" class="img-responsive">
                    <div class="hidden-panel">  
                        <div class="content">
                            <h3>
                                <a target="_blank" href="http://120.79.198.253:8037">简单的移动端新闻页面</a>
                            </h3>
                            <p>
                                jtaro + vue 构成的简单移动端新闻SPA
                            </p>
                            <a target="_blank"  href="http://120.79.198.253:8037">
                                <i class="fa fa-eye"></i>
                                view
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div>
                    <img src="imgs/project/14.png" class="img-responsive">
                    <div class="hidden-panel">  
                        <div class="content">
                            <h3>
                                <a target="_blank" href="http://120.79.198.253:8036">简单的移动端购物平台</a>
                            </h3>
                            <p>
                                jtaro + vue对无限极APP中某个页面进行简单的VUE重构
                            </p>
                            <a target="_blank"  href="http://120.79.198.253:8036">
                                <i class="fa fa-eye"></i>
                                view
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>