<div class="appTop navbar navbar-default">
    <style>
        .appTop {
            margin-bottom: 0px!important;
            background: #6caf6d;
            border:none!important;
        }
        #leftSide{
            float: left;
        }
        #rightSide{
            border-bottom: 100px solid black;
            border-left: 50px solid transparent;
            width: 600px;
            height:87px;
            float: right;

        }
        .left1,.left,.left3,.left2{
            float: left;
        }
        .right{
            color: #ffffff;
            float: right;
            font-size:20px;
            height:87px;
            line-height: 87px;
            padding-right: 30px;
        }
        .appTop a{
            text-decoration: none;
            color:orange;
            font-size: 18px;
        }
        .left img{
            width:142px;
            height:100px;
        }
        .left1 img{
            width:634px;
            height:100px;
        }
        .left2 img{
            margin-left: -130px;
            width:127px;
            height:100px;
        }
        .left3 img{
            width: 141px;
            height: 100px;
        }
    </style>
    <div id="leftSide">
        <div class="left">
            <img src="img/logo1.png" alt="">
        </div>
        <div class="left3">
            <img src="img/logo2.png" alt="">
        </div>
        <div class="left1">
            <img src="img/word.png" alt="">
        </div>
        <div class="left2">
            <img src="img/makebuoluo1.png" alt="">
        </div>
    </div>
    <div id="rightSide">
        <div class="right">
            请您先 <a href="">注册</a>,<a href="">登录</a>
        </div>
    </div>
</div>

